In [3]:
import codes.extract_backbone
import importlib
importlib.reload(codes.extract_backbone)

from codes.extract_backbone import save_meaningful_sample_with_sao_paulo

df = save_meaningful_sample_with_sao_paulo(
    mobility_edges_path="data/Road_and_waterway_connections_database_2016.xlsx",
    n=100
)

[✓] Meaningful sample with São Paulo emphasis saved to 'data/sample_mobility_edges.csv'.

In [4]:
df

,source,source_name,target,target_name,weekly_flow
0,1301308,Codajás,1303908,São Paulo de Olivença,8.00
1,1302603,Manaus,1303908,São Paulo de Olivença,23.25
2,1303908,São Paulo de Olivença,1304203,Tefé,11.00
3,1501808,Breves,1506005,Prainha,14.00
4,1500305,Afuá,1600303,Macapá,49.50
...,...,...,...,...,...
95,1100205,Porto Velho,1302603,Manaus,19.00
96,1501402,Belém,1507904,Soure,14.00
97,1300060,Amaturá,1303700,Santo Antônio do Içá,20.75
98,1502103,Cametá,1505205,Oeiras do Pará,36.00
99,1501303,Barcarena,1600808,Vitória do Jari,3.00

In [6]:
import pandas as pd

df = pd.read_excel("data/Road_and_waterway_connections_database_2016.xlsx")
flows = df["VAR05"]
print(flows.describe())

count    65638.000000
mean         0.157580
std          4.600863
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        539.000000
Name: VAR05, dtype: float64

In [9]:
import pandas as pd

# Rename for easier handling (optional)
df = df.rename(columns={
    'CODMUNDV_A': 'source',
    'NOMEMUN_A': 'source_name',
    'CODMUNDV_B': 'target',
    'NOMEMUN_B': 'target_name',
    'VAR05': 'weekly_flow'
})

# Filter out zero flows
df = df[df['weekly_flow'] > 0]

# Get the row with the maximum weekly_flow
max_row = df.loc[df['weekly_flow'].idxmax()]

# Display it
print("\nCity Pair with Maximum Flow:")
print(f"From: {max_row['source_name']} ({max_row['source']})")
print(f"To  : {max_row['target_name']} ({max_row['target']})")
print(f"Weekly Flow: {max_row['weekly_flow']}")

City Pair with Maximum Flow:
From: Salvador (2927408)
To  : Vera Cruz (2933208)
Weekly Flow: 539.0