In [5]:
from codes.preprocess_covid_brazil import clean_ibge_population_data

cleaned_df = clean_ibge_population_data()

[✓] Cleaned population data saved to: data/cleaned_population_2022.csv

In [6]:
cleaned_df.count()

ibgeID        5570
city_name     5570
population    5570
dtype: int64

In [7]:
# View top 10 most populous cities
cleaned_df.sort_values(by="population", ascending=False).head(10)

       ibgeID       city_name  population
3831  3550308       São Paulo    11451999
3244  3304557  Rio de Janeiro     6211223
5571  5300108        Brasília     2817381
951   2304400       Fortaleza     2428708
2164  2927408        Salvador     2417678
2311  3106200  Belo Horizonte     2315560
113   1302603          Manaus     2063689
4007  4106902        Curitiba     1773718
1598  2611606          Recife     1488920
5419  5208707         Goiânia     1437366